<div class="container">
    <div class="row">
        <h2>Add comment</h2>
        <form method="post" action="">
            <div class="form-group">
                <input type="text" class="form-control" id="author" name="author" placeholder="Name">
            </div>
            <div class="form-group">
                <textarea name="comment" class="form-control" id="comment" placeholder="Text"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>