<div class="container">
    <div class="row">
        <h2>Add post</h2>
        <form method="post" action="">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="author">Author name:</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            <div class="form-group">
                <label for="short_text">Short text:</label>
                <textarea name="short_text" class="form-control" id="short_text"></textarea>
            </div>
            <div class="form-group">
                <label for="full_text">FullText:</label>
                <textarea name="full_text" class="form-control" id="full_text"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>